* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.page-content {
  padding-top: 310px;
  padding-bottom: 40px;
}

body {
  background-color: #00cfc8;
}
