.fav-recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-content: center;
  margin: 0 80px;
}

@media (max-width: 767px) {
  .fav-recipe-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.fav-recipe-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 3px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
  height: 440px;
}
