.cuisine {
  color: #00cfc8;
  margin-left: 38%;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.suggestion {
  color: #00cfc8;
  margin-left: 87px;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
