.cuisine {
  color: #00cfc8;
  margin-left: 38%;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  padding-top: 50px;
}

.suggestion {
  color: #00cfc8;
  margin-left: 87px;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;

}


.refresh {
  margin: 0px 0px 22px 86px;
  border: none;
  border-radius: 10px;
  background: #009c97;
  color: #283D3E;
  font-style: italic;
  font-weight: 700;
  
  

}
.more {
  
  height: 35px;
  font-size: 19px;
}

.load {
  
  height: 100px;
  width: auto;
  font-size: 30px;
}

@media(max-width: 767px) {
  .more {
    margin: 0px 0px 22px 45px;
    width: 246px;
    height: auto;

    
  }

  .load{
    position: absolute;
    top: 275px;
    left: 0px;
    height: 70px;
    font-size: 20px;
  }

  .cuisine{
    font-size: 20px;
  }
  .suggestion{
    font-size: 20px;
  }
}
