.all-recipes-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

p.recipe-name {
  text-transform: uppercase;
}