.recipies-grid {
  margin: 200px 80px;
}

.all-recipes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-content: center;
}

@media (max-width: 767px) {
  .all-recipes-container {
    display: block;
  }
}

.recipe-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 25px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
}

p.recipe-name {
  text-transform: uppercase;
  padding-top: 20px;
}

.small-img {
  height: 200px;
  border: none;
  border-radius: 10px;
}

.fav-hearts {
  margin-bottom: 15px;
}

.recipe-description {
  font-size: 13px;
}
.recipe-cooktime {
  font-size: 13px;
}
.recipe-vegetarian{
  font-size: 13px;

}
.recipe-vegan{
  font-size: 13px;

}
.recipe-country{
  font-size: 13px;

}
