#recipe-form {
  margin: 0 auto;
  width: 50%;
}

.formWrap {
  display: flex;
  justify-content: space-between;
}

.nutrition {
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 10px;
  background-color: rgba(201, 207, 207, 1);
  border: 1px solid black;
}

#save {
  padding: 2px 20px;
}

h2 {
  color: #00cfc8;
}

label {
  color: #03fff6;
}
