.shopping-bag-container{
  /* margin-top: 200px;
  margin-left:200px;
  margin-right:200px;
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 25px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  color: black; */
  padding: 20px;
  

}

.shopping-bag-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 25px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
  width: 330px;
  

}

.all-shoplist-display { 
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 80px;
  justify-content: center;
  margin-top: 225px;
}

/* .all-shoplist-display{
  margin-top:200px;
} */
